# Fichiers compilés
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.dylib

# Dossier de build
/build/

# Dossier des images/data si tu ne veux pas les partager
/data/

# Fichiers temporaires et éditeur
*~
*.swp
*.swo
.vscode/
.idea/
